<div class="container">

      <div class="row">
      <h3>会員情報編集画面</h3>
      </div>

      <%= form_with model: @customer, url: customer_path do |f| %>

      <div class="row mt-4">
      <div class="col-lg-2">
      <p>氏名</p>
      </div>
      <div class="col-lg-6">
      <%= f.text_field :last_name %>
      <%= f.text_field :first_name %>
      </div>
      </div>

      <div class="row">
      <div class="col-lg-2">
      <p>フリガナ</p>
      </div>
      <div class="col-lg-6">
      <%= f.text_field :last_name_kana %>
      <%= f.text_field :first_name_kana %>
      </div>
      </div>

      <div class="row">
      <div class="col-lg-2">
      <p>郵便番号</p>
      </div>
      <div class="col-lg-2">
      <%= f.text_field :postal_code %>
      </div>
      </div>

      <div class="row">
      <div class="col-lg-2">
      <p>住所</p>
      </div>
      <div class="col-lg-2">
      <%= f.text_area :address %>
      </div>
      </div>

      <div class="row">
      <div class="col-lg-2">
      <p>電話番号</p>
      </div>
      <div class="col-lg-2">
      <%= f.text_field :telephone_number %>
      </div>
      </div>

      <div class="row">
      <div class="col-lg-2">
      <p>メールアドレス</p>
      </div>
      <div class="col-lg-2">
      <%= f.text_field :email %>
      </div>
      </div>

      <div class="row mt-4">
      <div class="col-lg-8">
      <%= f.submit '編集内容を保存', class:'btn btn-success' %>

      <% end %>

      <%= link_to '退会する', unsubscribe_path, class:'btn btn-danger' %>
      </div>
      </div>


</div>