<div class="container">
  <div class="row">


      <div class="col-lg-9 mt-5">
      <h3>商品編集</h3>
      </div>


    <div class="col-lg-9">
      
      <%= form_with model: @item, url: admin_item_path do |f| %>

      <div class="col-lg-9 mt-5">
      <p>商品画像</p>
      <%= f.file_field :item_image, accept: "image/*", class:'btn btn-light' %>
      </div>

      <div class="col-lg-auto mt-5">
      <p>商品名</p>
      <%= f.text_field :name %>
      </div>

      <div class="col-lg-auto mt-5">
      <p>商品説明</p>
      <%= f.text_area :introduction %>
      </div>

      <div class="col-lg-auto mt-5">
      <p>ジャンル</p>
      <%= f.collection_select :genre_id, Genre.all, :id, :name %>
      </div>

      <div class="col-lg-auto mt-5">
      <p>税抜価格</p>
      <%= f.number_field :price %><p>円</p>
      </div>

      <div class="col-lg-auto mt-5">
      <p>販売ステータス</p>
      <%= f.radio_button :is_active, 'on sale' %>
      <%= f.label :is_active, '販売中' %>

      <%= f.radio_button :is_active, 'stop selling' %>
      <%= f.label :is_active, '販売停止中' %>
      </div>

      <div class="col-lg-auto mt-5">
      <%= f.submit '変更を保存', class:'btn btn-success' %>
      </div>

      <% end %>
      
    </div>

  </div>
</div>