<div class="container">

      <div class="row">
      <h1>商品一覧</h1>
      </div>

      <div class="row">
      <i class="fa-light fa-circle-plus">
      <%= link_to '新規登録', new_admin_item_path %>
      </i>
      </div>

      <div class="row"></div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">商品ID</th>
            <th scope="col">商品名</th>
            <th scope="col">税抜価格</th>
            <th scope="col">ジャンル</th>
            <th scope="col">ステータス</th>
          </tr>
        </thead>

        <% @items.each do |item| %>
        <tbody>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item.id)%></td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
          <td><%= item.is_active %></td>
        </tbody>
        <% end %>
      </table>
      </div>
</div>