<h1>商品新規登録</h1>

<%= form_with model: @item, url: admin_items_path do |f| %>

<p>商品画像</p>
<%= f.file_field 'ファイルを選択' %>

<p>商品名</p>
<%= f.text_field :name %>

<p>商品説明</p>
<%= f.text_field :introduction %>

<p>ジャンル</p>
<%= f.collection_select :genre_id, Genre.all, :id, :name %>

<p>販売ステータス</p>
<%= f.radio_button :is_active, "on sale" %>
<%= f.label :is_active, "販売中" %>

<%= f.radio_button :is_active, "stop selling" %>
<%= f.label :is_active, "販売停止中" %>

<%= f.submit '新規登録' %>

<% end %>