<div class="container">
  <div class="row">
    <div class="col-lgs">
      <div class="p-3 mb-2 bg-secondary text-black">管理者ログイン</div>

      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <div class="text-center"></div>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="text-center"></div>
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="text-center"></div>
          <%= f.submit 'ログイン',class:"btn btn-primary" %>
        </div>
        
      <% end %>

      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>