<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h3>注文履歴詳細</h3>

      <p>購入者</p>
      <%= link_to @customer.last_name, admin_customer_path(@customer.id) %><%= link_to @customer.first_name, admin_customer_path(@customer.id) %>

      <p>注文日</p>
      <%= @order.created_at %>

      <p>配送先</p>
      <%= @order.postal_code %><%= @order.address %><%= @order.name %>

      <p>支払方法</p>
      <%= @order.pay_method %>

      <p>注文ステータス</p>
      <%= form_with model: @order, url: admin_order_path(@order.id) do |f| %>
      <%#= f.select :status, options_for_select(Order.statuses.keys.to_a), {include_blank: "選択してください"}, class: "status-select" %>
      <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]}, include_blank: '選択してください' %>
      <%= f.submit '更新', class:'btn btn-success' %>
      <% end %>

      <p>電話番号</p>
      <%= @customer.telephone_number %>

      <p>メールアドレス</p>
      <%= @customer.email %>

    </div>
  </div>

      <%#<%= link_to '更新', admin_order_path(order.id) %>
  <div class="row">
    <div class="col-lg-auto">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <% @order.order_details.each do |order_detail| %>
        <tbody>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.item.with_tax_price %>
                <%# @total_price = 0 %>
                <%# @total_price += order_detail.purchase_price %></td>
            <td><%= @order.order_details.sum(:amount) %></td>
            <td><%= order_detail.item.with_tax_price*@order.order_details.sum(:amount) %></td><%#なんでここだけ@order.order_details.sum(:amount)で「@」がつくのか%>
            <td><%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id) do |f| %>
                <%#= f.select :created_status, options_for_select(OrderDetail.created_statuses.keys), {include_blank: "選択してください"}, class: "created_status-select" %>
                <%= f.select :created_status, OrderDetail.created_statuses.keys.map {|k| [I18n.t("enums.order_detail.created_status.#{k}"), k]}, include_blank: '選択してください' %>
                <%= f.submit '更新', class:'btn btn-success' %>
                <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-auto">
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>商品合計</th>
            <th>送料</th>
            <th>請求金額合計</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><% @total_price = 0 %>
                <% @order.order_details.each do |order_detail| %>
                <% @total_price += order_detail.item.with_tax_price*@order.order_details.sum(:amount) %>
                <% end %>
                <%= @total_price %></td>
            <td><%= @order.postage %></td>
            <td><%= @order.postage + @total_price  %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>