<h1>注文履歴詳細</h1>

<p>購入者</p>
<%= link_to order.customer.last_name, admin_customer_path %><%= link_to order.customer.first_name, admin_customer_path %>

<p>注文日</p>
<%= @order.is_created %>

<p>配送先</p>
<%= @order.postal_code %><%= @order.address %><%= @order.name %>

<p>支払方法</p>
<%= @order.pay_method %>

<p>注文ステータス</p>
<%= @order.address %>

<%= form_with model: @order, url: aadmin_order_path do |f| %>

<%= f.select :order_id,  %>

<p>電話番号</p>
<%= @customer.telephone_number %>

<p>メールアドレス</p>
<%= @customer.email %>

<p>会員ステータス</p>
<%= select :status, :name,Order.statuses.keys.to_a %>
<%= select :status, :name,Order.statuses.values.to_a %>

#全て手直し　2022/10/01 8:01