<div class="container">

      <div class="row">
      <h3>配送先編集</h3>
      </div>

      <%= form_with model: @address, url: address_path do |f| %>

      <div class="row">
      <div class="col-lg-3">
      <p>郵便番号（ハイフンなし）</p>
      </div>
      <div class="col-lg-3">
      <%= f.text_field :postal_code %>
      </div>
      </div>

      <div class="row">
      <div class="col-lg-3">
      <p>住所</p>
      </div>
      <div class="col-lg-3">
      <%= f.text_area :address %>
      </div>
      </div>

      <div class="row">
      <div class="col-lg-3">
      <p>宛名</p>
      </div>
      <div class="col-lg-3">
      <%= f.text_field :name %>
      </div>
      </div>

      <div class="row justify-content-end">
      <div class="col-lg-3">
      <%= f.submit '変更内容を保存', class:'btn btn-success' %>
      </div>
      </div>

      <% end %>

</div>