<div class="container">
  <div class="row">

    <div class="col-md">注文履歴一覧</div>
      <table>
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <% @orders.each do |order| %>
        <tbody>
          <tr>
            <td><%= order.created_at %></td>
            <td><%= order.address %></td>
            <td><%= order.customer.cart_item.item.name %></td><%#ここの書き方は？%>
            <td><%= order.order_detail_item.price %></td><%#ここは適当、後で直す%>
            <td><%= order.status %></td>
            <td><%= link_to '表示する', order_path(@order.id) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
  </div>
</div>