<div class="container">

      <div class="row">
      <h3>ログイン</h3>
      </div>

      <div class="row mt-3">
      <div class="col">
      <h5>会員の方はこちらからログイン</h5>
      </div>
      </div>

      <%= form_with model: @customer, url: customer_session_path do |f| %>

        <div class="field">
          <div class="row mt-3">
          <div class="col-lg-2">
          <%= f.label :email, "メールアドレス" %>
          </div>
          <div class="col-lg-2">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          </div>
        </div>

        <div class="field">
          <div class="row mt-3">
          <div class="col-lg-2">
          <%= f.label :password %>
          </div>
          <div class="col-lg-2">
          <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          </div>
        </div>

        <div class="actions">
          <div class="row mt-3 mb-3">
          <div class="col-lg-4">
          <%= f.submit "ログイン", class:'btn btn-success' %>
          </div>
          </div>
        </div>
      <% end %>

      <h5>会員登録がお済みでない方</h5>

      <%= link_to "こちら", new_customer_registration_path %><p>から新規登録を行なってください。</p>

</div>