<!DOCTYPE html>
<html>
  <head>
    <title>DWC202207iwhggit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'LOGO', root_path %>
      <% if user_signed_in? %>
      <li>
        <%= link_to  'About', public_homes_about %>
      </li>
      <li>
        <%= link_to  '商品一覧',  %>
      </li>
    </header>
    <%= yield %>
  </body>
</html>
